.editForm {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 500;
    color: #444;
    margin: 12px 0 4px 5px;
  }
  input {
    border: 1px solid var(--main-slate-deep);
    padding: 7px;
    border-radius: 4px;
    margin: 4px 0 0 0;
    &:focus {
      outline: none;
    }
  }
  textarea {
    border: 1px solid var(--main-slate-deep);
    padding: 7px;
    border-radius: 4px;
    margin: 4px 0 0 0;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  input[type='file'] {
    color: var(--main-slate-deep);
    font-size: 14px;
    padding: 6px 7px;
  }
  input[type='file']::file-selector-button {
    background-color: var(--main-slate);
    border: none;
    border-radius: 3px;
    font-size: 13px;
    padding: 2px 8px;
    color: var(--main-slate-deep);
  }
  @media (max-width: 768px) {
    max-width: calc(100% - 16px);
  }
}
.errorMessage {
  font-size: 14px;
  color: #fb923c;
}
.buttons {
  margin: 24px 0;
  button {
    background: var(--main-slate-deep);
    color: #f5f5f5;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 4px;
    margin: 0 14px 0 0;
    &:hover {
      background: var(--main-slate);
      color: #444;
    }
  }
}
